services:

  mysql:
    build: ./db
    container_name: geographia-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10


  backend:
    build: ./Backend
    container_name: geographia-backend
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
      args:
        API_URL: ${API_URL}	
        MAPBOX_TOKEN: ${MAPBOX_TOKEN}
    container_name: geographia-frontend
    restart: always
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mysql_data:
