<div class="backdrop" (click)="cancel()">
    <div [@fadeInOut] class="modal" (click)="$event.stopPropagation()">
        <div class="title">
            <span class="material-symbols-outlined delete"> delete </span>
            <h1>ELIMINAR PERFIL</h1>
        </div>
        <p class="subtitle">
            ¿Esta seguro que desea eliminar su perfil? Esta acción no se puede
            deshacer.
        </p>
        <div class="buttons">
            <button class="button cancel">ELIMINAR</button>
            <button class="button" (click)="cancel()">CANCELAR</button>
        </div>
    </div>
</div>
