mgl-map {
    height: 100vh;
    width: 100vw;
}

.popup-bubble {
    width: 60px;
    height: 60px;
    background: linear-gradient(#d8d8d8, #395371 77%, #0a2c53 100%);
    color: white;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.popup-bubble::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: -5px;
    transform: rotate(45deg) translateX(-50%);
    width: 30px;
    height: 10px;
    background: rgba(10, 44, 83, 0.8);
    filter: blur(4px);
    border-radius: 50%;
    z-index: -1;
}

.plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    background: #909ead;
    border-radius: 50%;
    padding: 5px;
    color: #d8d8d8;
}

::ng-deep .mapboxgl-popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    box-shadow: none;
}

::ng-deep .mapboxgl-popup-tip {
    display: none;
}

::ng-deep .mapboxgl-popup-close-button {
    display: none;
}
