<app-map-types-list></app-map-types-list>
<app-search-bar></app-search-bar>
<app-profile-icon></app-profile-icon>
<router-outlet name="popup"></router-outlet>
<mgl-map
    [style]="'mapbox://styles/mapbox/standard'"
    [zoom]="[4]"
    [center]="[-64.0, -34.0]"
    (mapClick)="onMapClick($event)"
>
    <mgl-control mglAttribution position="bottom-right" />
    <mgl-control mglFullscreen position="bottom-right" />
    <mgl-control
        mglGeolocate
        position="bottom-right"
        (geolocate)="onGeolocate($event)"
    />
    <mgl-control mglNavigation position="bottom-right" />
    <mgl-control mglScale position="bottom-left" />
    <mgl-popup
        *ngIf="popup"
        [lngLat]="popup.coordinates"
        [closeOnClick]="false"
        (close)="popup = null"
    >
        <div class="popup-bubble" (click)="addLocation()">
            <span class="material-symbols-outlined plus-icon"> close </span>
        </div>
    </mgl-popup>
</mgl-map>
