<span
    class="material-symbols-outlined manage_search"
    tabindex="0"
    (click)="toggleMenu()"
    (keydown.enter)="toggleMenu()"
    [attr.aria-label]="
        openMenu
            ? 'Cerrar menú de tipos de mapa'
            : 'Abrir menú de tipos de mapa'
    "
    >manage_search</span
>
<ul
    *ngIf="openMenu"
    [class.visible]="openMenu"
    [@fadeInOut]
    class="map-types-menu"
>
    <li
        class="map-types"
        *ngFor="let type of mapTypes"
        (click)="selectType(type)"
        [class.active]="type === selectedType"
    >
        {{ type }}
    </li>
</ul>
